In [2]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp39-cp39-win_amd64.whl (382 kB)
     -------------------------------------- 382.5/382.5 kB 2.2 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Using cached dnspython-2.3.0-py3-none-any.whl (283 kB)
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pymongo

In [2]:
client = pymongo.MongoClient("mongodb://localhost:27017/")

In [3]:
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [4]:
db = client.get_database("TestDatabase")

In [5]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'TestDatabase')

In [6]:
db = client["TestDatabase"]

In [7]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'TestDatabase')

In [8]:
col = db["TestCollection"]

In [9]:
col

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'TestDatabase'), 'TestCollection')

In [10]:
client.list_database_names()

['TestDatabase', 'admin', 'config', 'local']

In [12]:
for x in client.list_database_names():
    if "TestDatabase" == x:
        print("Found")
        break

Found

In [13]:
new_db = client["NewDatabase"]

In [14]:
new_db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'NewDatabase')

In [15]:
ncol = new_db["NewCollection"]

In [16]:
ncol

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'NewDatabase'), 'NewCollection')

In [17]:
ncol.insert_one({
    "key":"value"
})

In [18]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'TestDatabase')

In [19]:
col

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'TestDatabase'), 'TestCollection')

In [20]:
data = {
    "name":"ManishParate",
    "Task":"Learn Django"
}

In [21]:
saved = col.insert_one(data)

In [22]:
saved

In [23]:
saved.inserted_id

ObjectId('644100705f358a075462fb8a')

# Insert Multiple Document

In [27]:
data = [
    {"name":"mohan1","task":"Learn Django Basics"},
    {"name":"sohan1", "task":"Learn Django Advance"},
    {"name":"Ram1", "task":"Learn Python"}
]

In [28]:
saved = col.insert_many(data)

In [29]:
saved.inserted_ids

[ObjectId('6441027b5f358a075462fb8e'),
 ObjectId('6441027b5f358a075462fb8f'),
 ObjectId('6441027b5f358a075462fb90')]

# Insert Multiple Documents with Custom IDs

In [30]:
data = [
    {"_id":1, "name":"mohan1","task":"Learn Django Basics"},
    {"_id":2, "name":"sohan1", "task":"Learn Django Advance"},
    {"_id":3, "name":"Ram1", "task":"Learn Python"}
]

In [31]:
col.insert_many(data)

In [32]:
col

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'TestDatabase'), 'TestCollection')

In [33]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'TestDatabase')

In [34]:
data = col.find_one()

In [35]:
data

{'_id': ObjectId('644100705f358a075462fb8a'),
 'name': 'ManishParate',
 'Task': 'Learn Django'}

In [37]:
data = col.find()

In [38]:
data

In [39]:
for i in data:
    print(i)

{'_id': ObjectId('644100705f358a075462fb8a'), 'name': 'ManishParate', 'Task': 'Learn Django'}
{'_id': ObjectId('644102265f358a075462fb8b'), 'name': 'mohan', 'task': 'Learn Django Basics'}
{'_id': ObjectId('644102265f358a075462fb8c'), 'name': 'sohan', 'task': 'Learn Django Advance'}
{'_id': ObjectId('644102265f358a075462fb8d'), 'name': 'Ram', 'task': 'Learn Python'}
{'_id': ObjectId('6441027b5f358a075462fb8e'), 'name': 'mohan1', 'task': 'Learn Django Basics'}
{'_id': ObjectId('6441027b5f358a075462fb8f'), 'name': 'sohan1', 'task': 'Learn Django Advance'}
{'_id': ObjectId('6441027b5f358a075462fb90'), 'name': 'Ram1', 'task': 'Learn Python'}
{'_id': 1, 'name': 'mohan1', 'task': 'Learn Django Basics'}
{'_id': 2, 'name': 'sohan1', 'task': 'Learn Django Advance'}
{'_id': 3, 'name': 'Ram1', 'task': 'Learn Python'}

In [44]:
query = {
    "name":"mohan"
}

In [45]:
data = col.find(query)

In [46]:
data

In [47]:
for i in data:
    print(i)

{'_id': ObjectId('644102265f358a075462fb8b'), 'name': 'mohan', 'task': 'Learn Django Basics'}

In [48]:
data = col.find(query,{
    "_id":0, "name": 0
})

In [49]:
for i in data:
    print(i)

{'task': 'Learn Django Basics'}

In [50]:
col.find()

In [51]:
for i in col.find():
    print(i)

{'_id': ObjectId('644100705f358a075462fb8a'), 'name': 'ManishParate', 'Task': 'Learn Django'}
{'_id': ObjectId('644102265f358a075462fb8b'), 'name': 'mohan', 'task': 'Learn Django Basics'}
{'_id': ObjectId('644102265f358a075462fb8c'), 'name': 'sohan', 'task': 'Learn Django Advance'}
{'_id': ObjectId('644102265f358a075462fb8d'), 'name': 'Ram', 'task': 'Learn Python'}
{'_id': ObjectId('6441027b5f358a075462fb8e'), 'name': 'mohan1', 'task': 'Learn Django Basics'}
{'_id': ObjectId('6441027b5f358a075462fb8f'), 'name': 'sohan1', 'task': 'Learn Django Advance'}
{'_id': ObjectId('6441027b5f358a075462fb90'), 'name': 'Ram1', 'task': 'Learn Python'}
{'_id': 1, 'name': 'mohan1', 'task': 'Learn Django Basics'}
{'_id': 2, 'name': 'sohan1', 'task': 'Learn Django Advance'}
{'_id': 3, 'name': 'Ram1', 'task': 'Learn Python'}

In [52]:
col.find().sort("name")

In [53]:
for i in col.find().sort("name"):
    print(i)

{'_id': ObjectId('644100705f358a075462fb8a'), 'name': 'ManishParate', 'Task': 'Learn Django'}
{'_id': ObjectId('644102265f358a075462fb8d'), 'name': 'Ram', 'task': 'Learn Python'}
{'_id': ObjectId('6441027b5f358a075462fb90'), 'name': 'Ram1', 'task': 'Learn Python'}
{'_id': 3, 'name': 'Ram1', 'task': 'Learn Python'}
{'_id': ObjectId('644102265f358a075462fb8b'), 'name': 'mohan', 'task': 'Learn Django Basics'}
{'_id': ObjectId('6441027b5f358a075462fb8e'), 'name': 'mohan1', 'task': 'Learn Django Basics'}
{'_id': 1, 'name': 'mohan1', 'task': 'Learn Django Basics'}
{'_id': ObjectId('644102265f358a075462fb8c'), 'name': 'sohan', 'task': 'Learn Django Advance'}
{'_id': ObjectId('6441027b5f358a075462fb8f'), 'name': 'sohan1', 'task': 'Learn Django Advance'}
{'_id': 2, 'name': 'sohan1', 'task': 'Learn Django Advance'}

In [54]:
# Ascending Order
for i in col.find().sort("name",1):
    print(i)

{'_id': ObjectId('644100705f358a075462fb8a'), 'name': 'ManishParate', 'Task': 'Learn Django'}
{'_id': ObjectId('644102265f358a075462fb8d'), 'name': 'Ram', 'task': 'Learn Python'}
{'_id': ObjectId('6441027b5f358a075462fb90'), 'name': 'Ram1', 'task': 'Learn Python'}
{'_id': 3, 'name': 'Ram1', 'task': 'Learn Python'}
{'_id': ObjectId('644102265f358a075462fb8b'), 'name': 'mohan', 'task': 'Learn Django Basics'}
{'_id': ObjectId('6441027b5f358a075462fb8e'), 'name': 'mohan1', 'task': 'Learn Django Basics'}
{'_id': 1, 'name': 'mohan1', 'task': 'Learn Django Basics'}
{'_id': ObjectId('644102265f358a075462fb8c'), 'name': 'sohan', 'task': 'Learn Django Advance'}
{'_id': ObjectId('6441027b5f358a075462fb8f'), 'name': 'sohan1', 'task': 'Learn Django Advance'}
{'_id': 2, 'name': 'sohan1', 'task': 'Learn Django Advance'}

In [55]:
#Descending Order
for i in col.find().sort("name",-1):
    print(i)

{'_id': ObjectId('6441027b5f358a075462fb8f'), 'name': 'sohan1', 'task': 'Learn Django Advance'}
{'_id': 2, 'name': 'sohan1', 'task': 'Learn Django Advance'}
{'_id': ObjectId('644102265f358a075462fb8c'), 'name': 'sohan', 'task': 'Learn Django Advance'}
{'_id': ObjectId('6441027b5f358a075462fb8e'), 'name': 'mohan1', 'task': 'Learn Django Basics'}
{'_id': 1, 'name': 'mohan1', 'task': 'Learn Django Basics'}
{'_id': ObjectId('644102265f358a075462fb8b'), 'name': 'mohan', 'task': 'Learn Django Basics'}
{'_id': ObjectId('6441027b5f358a075462fb90'), 'name': 'Ram1', 'task': 'Learn Python'}
{'_id': 3, 'name': 'Ram1', 'task': 'Learn Python'}
{'_id': ObjectId('644102265f358a075462fb8d'), 'name': 'Ram', 'task': 'Learn Python'}
{'_id': ObjectId('644100705f358a075462fb8a'), 'name': 'ManishParate', 'Task': 'Learn Django'}

In [56]:
for i in col.find():
    print(i)

{'_id': ObjectId('644100705f358a075462fb8a'), 'name': 'ManishParate', 'Task': 'Learn Django'}
{'_id': ObjectId('644102265f358a075462fb8b'), 'name': 'mohan', 'task': 'Learn Django Basics'}
{'_id': ObjectId('644102265f358a075462fb8c'), 'name': 'sohan', 'task': 'Learn Django Advance'}
{'_id': ObjectId('644102265f358a075462fb8d'), 'name': 'Ram', 'task': 'Learn Python'}
{'_id': ObjectId('6441027b5f358a075462fb8e'), 'name': 'mohan1', 'task': 'Learn Django Basics'}
{'_id': ObjectId('6441027b5f358a075462fb8f'), 'name': 'sohan1', 'task': 'Learn Django Advance'}
{'_id': ObjectId('6441027b5f358a075462fb90'), 'name': 'Ram1', 'task': 'Learn Python'}
{'_id': 1, 'name': 'mohan1', 'task': 'Learn Django Basics'}
{'_id': 2, 'name': 'sohan1', 'task': 'Learn Django Advance'}
{'_id': 3, 'name': 'Ram1', 'task': 'Learn Python'}

In [57]:
query = {
    "name":"mohan1"
}

In [58]:
x = col.find(query)

for i in x:
    print(i)

{'_id': ObjectId('6441027b5f358a075462fb8e'), 'name': 'mohan1', 'task': 'Learn Django Basics'}
{'_id': 1, 'name': 'mohan1', 'task': 'Learn Django Basics'}

In [59]:
col.delete_one(query)

In [60]:
x = col.find(query)

for i in x:
    print(i)

{'_id': 1, 'name': 'mohan1', 'task': 'Learn Django Basics'}

In [61]:
col.delete_one(query)

In [62]:
x = col.find(query)

for i in x:
    print(i)

In [63]:
# Delete Many

query = {
    "name":{
        "$regex":"^R"
    }
}

In [65]:
x = col.find(query)

In [66]:
for i in x:
    print(i)

{'_id': ObjectId('644102265f358a075462fb8d'), 'name': 'Ram', 'task': 'Learn Python'}
{'_id': ObjectId('6441027b5f358a075462fb90'), 'name': 'Ram1', 'task': 'Learn Python'}
{'_id': 3, 'name': 'Ram1', 'task': 'Learn Python'}

In [67]:
deleted = col.delete_many(query)

In [68]:
deleted

In [71]:
deleted.deleted_count

3

In [72]:
for i in x:
    print(i)

In [74]:
#delete All

for i in col.find():
    print(i)

{'_id': ObjectId('644100705f358a075462fb8a'), 'name': 'ManishParate', 'Task': 'Learn Django'}
{'_id': ObjectId('644102265f358a075462fb8b'), 'name': 'mohan', 'task': 'Learn Django Basics'}
{'_id': ObjectId('644102265f358a075462fb8c'), 'name': 'sohan', 'task': 'Learn Django Advance'}
{'_id': ObjectId('6441027b5f358a075462fb8f'), 'name': 'sohan1', 'task': 'Learn Django Advance'}
{'_id': 2, 'name': 'sohan1', 'task': 'Learn Django Advance'}

In [75]:
deleted = col.delete_many({})

In [76]:
deleted.deleted_count

5

In [77]:
col.drop()

In [78]:
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [79]:
db = client["TestDatabase"]

In [80]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'TestDatabase')

In [81]:
col = db["TestCollection"]

In [82]:
col

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'TestDatabase'), 'TestCollection')

In [83]:
data = [
    {"name":"prateek","task":"Learn Django Basics"},
    {"name":"manish","task":"learn Driving"},
    {"name":"kartik","task":"Go Fishing"},
    {"name":"mukhrit","task":"Go dance"}
]

In [84]:
data

[{'name': 'prateek', 'task': 'Learn Django Basics'},
 {'name': 'manish', 'task': 'learn Driving'},
 {'name': 'kartik', 'task': 'Go Fishing'},
 {'name': 'mukhrit', 'task': 'Go dance'}]

In [85]:
saved = col.insert_many(data)

In [86]:
col

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'TestDatabase'), 'TestCollection')

In [87]:
for i in col.find():
    print(i)

{'_id': ObjectId('6441715f5f358a075462fb91'), 'name': 'prateek', 'task': 'Learn Django Basics'}
{'_id': ObjectId('6441715f5f358a075462fb92'), 'name': 'manish', 'task': 'learn Driving'}
{'_id': ObjectId('6441715f5f358a075462fb93'), 'name': 'kartik', 'task': 'Go Fishing'}
{'_id': ObjectId('6441715f5f358a075462fb94'), 'name': 'mukhrit', 'task': 'Go dance'}

In [90]:
query = {
    "name":"manish"
}

In [93]:
x = col.find(query)

In [94]:
for i in x:
    print(i)

{'_id': ObjectId('6441715f5f358a075462fb92'), 'name': 'manish', 'task': 'learn Driving'}

In [97]:
new_value = {
    "$set":{
        "name":"manishji"
    }
}

col.update_one(query,new_value)

In [99]:
x = col.find({
    "name":"manishji"
})

for i in x:
    print(i)

{'_id': ObjectId('6441715f5f358a075462fb92'), 'name': 'manishji', 'task': 'learn Driving'}

In [100]:
#update Many

query = {
    "name":"kartik"
}

new_value = {
    "$set":{
        "name":"katrik"
    }
}

col.update_many(query,new_value)

In [101]:
for i in col.find():
    print(i)

{'_id': ObjectId('6441715f5f358a075462fb91'), 'name': 'prateek', 'task': 'Learn Django Basics'}
{'_id': ObjectId('6441715f5f358a075462fb92'), 'name': 'manishji', 'task': 'learn Driving'}
{'_id': ObjectId('6441715f5f358a075462fb93'), 'name': 'katrik', 'task': 'Go Fishing'}
{'_id': ObjectId('6441715f5f358a075462fb94'), 'name': 'mukhrit', 'task': 'Go dance'}

In [102]:
#Limit Our Result

for i in col.find().limit(2):
    print(i)

{'_id': ObjectId('6441715f5f358a075462fb91'), 'name': 'prateek', 'task': 'Learn Django Basics'}
{'_id': ObjectId('6441715f5f358a075462fb92'), 'name': 'manishji', 'task': 'learn Driving'}

In [103]:
for i in col.find():
    print(i)

{'_id': ObjectId('6441715f5f358a075462fb91'), 'name': 'prateek', 'task': 'Learn Django Basics'}
{'_id': ObjectId('6441715f5f358a075462fb92'), 'name': 'manishji', 'task': 'learn Driving'}
{'_id': ObjectId('6441715f5f358a075462fb93'), 'name': 'katrik', 'task': 'Go Fishing'}
{'_id': ObjectId('6441715f5f358a075462fb94'), 'name': 'mukhrit', 'task': 'Go dance'}